@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-VariableFont_wght.ttf");
}

html {
    background-color: #161618;
    color: #e4e6eb;
    font-family: "SourceCodePro", "Regular";
    overflow-x: hidden;
}

#caret {
    top: 45%;
    left: calc(50% - 2px);
    position: absolute;
    font-size: 35px;
    color: yellow;
}

#quote {
    position: absolute;
    top: 45%;
    left: 50%;
}

#carriage {
    position: absolute;
    width: fit-content;
    white-space: nowrap;
    font-size: 30px;
}

#quote .character {
    font-size: 30px;
}

#quote .neutral {
    color: #e4e6eb;
}

#quote .positive {
    color: gray;
}

#quote .negative {
    color: red;
}